service: notes-app-api


plugins:
  - serverless-webpack


custom:
  webpackIncludeModules: true


provider:
  name: aws
  runtime: nodejs6.10
  stage: prod
  region: ap-northeast-2

  # 'iamRoleStatements' defines the permission policy for the Lambda function.
  # In this case Lambda functions are granted with permission to access DynamoDB
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:ap-northeast-2:*:*"


functions:
  create:
    handler: create.main
    events:
      - http:
        path: notes
        method: post
        cors: true
        authorizer: aws_iam